<div id="toTop"><span class="glyphicon glyphicon-chevron-up"></span></div>

{% if page.header_top_left or page.header_top_right %}
  <!-- #header-top -->
  <div id="header-top" class="clearfix">
    <div class="container">

      <!-- #header-top-inside -->
      <div id="header-top-inside" class="clearfix">
        <div class="row">

          {% if page.header_top_left %}
            <div class="{{header_top_left_grid_class}}">
              <!-- #header-top-left -->
              <div id="header-top-left" class="clearfix">
                {{ page.header_top_left }}
              </div>
              <!-- EOF:#header-top-left -->
            </div>
          {% endif %}

          {% if page.header_top_right %}
            <div class="{{header_top_right_grid_class}}">
              <!-- #header-top-right -->
              <div id="header-top-right" class="clearfix">
                {{ page.header_top_right }}
              </div>
              <!-- EOF:#header-top-right -->
            </div>
          {% endif %}

        </div>
      </div>
      <!-- EOF: #header-top-inside -->

    </div>
  </div>
  <!-- EOF: #header-top -->
{% endif %}

{% if page.banner %}
  <!-- #banner -->
  <div id="banner" class="clearfix">
    <div class="container">
      <div class="row">
        {{ page.banner }}
      </div>
    </div>
  </div>
  <!-- EOF:#banner -->
{% endif %}

{% if page.header %}
  <!-- header -->
  <header id="header" role="banner" class="clearfix">

    <div class="container">
      <!-- #header-inside -->
      <div id="header-inside" class="clearfix">
        <div class="row">
          <div class="col-md-12">
            {{ page.header }}
          </div>
        </div>
      </div>
      <!-- EOF: #header-inside -->
    </div>

  </header>
  <!-- EOF: #header -->
{% endif %}

{% if page.promoted %}
  <!-- #promoted -->
  <div id="promoted" class="clearfix">
    <div id="full-width-content" class="clearfix">

      <div class="container">
        <div class="row">
          {{ page.promoted }}
        </div>
      </div>

    </div>
  </div>
  <!-- EOF: #promoted -->
{% endif %}

<!-- #page -->
<div id="page" class="clearfix">

  <!-- Highlight -->
  {% if page.highlighted %}
    <div id="top-content" class="clearfix">
      <div class="container">

        <!-- #top-content-inside -->
        <div id="top-content-inside" class="clearfix">
          <div class="row">
            <div class="col-md-12">
              {{ page.highlighted }}
            </div>
          </div>
        </div>
        <!-- EOF:#top-content-inside -->

      </div>
    </div>
  {% endif %}

  <!-- #main-content -->
  <div id="main-content">
    <div class="container">

      <div class="row">

        {% if page.sidebar_first %}
          <aside class="{{sidebar_grid_class}}">
            <!--#sidebar-first-->
            <section id="sidebar-first" class="sidebar clearfix">
              {{ page.sidebar_first }}
            </section>
            <!--EOF:#sidebar-first-->
          </aside>
        {% endif %}

        <section class="{{main_grid_class}}">

          <!-- #main -->
          <div id="main" class="clearfix">

            <!-- #breadcrumb -->
            <div id="breadcrumb" class="clearfix">
              <!-- #breadcrumb-inside -->
              <div id="breadcrumb-inside" class="clearfix">
                {{ breadcrumb }}
              </div>
              <!-- EOF: #breadcrumb-inside -->
            </div>
            <!-- EOF: #breadcrumb -->

            <!-- EOF:#content-wrapper -->
            <div id="content-wrapper">

              {% if page.content %}
                {{ page.content }}
              {% endif %}

            </div>
            <!-- EOF:#content-wrapper -->

          </div>
          <!-- EOF:#main -->

        </section>

        {% if page.sidebar_second %}
          <aside class="{{sidebar_grid_class}}">
            <!--#sidebar-second-->
            <section id="sidebar-second" class="sidebar clearfix">
              {{ page.sidebar_second }}
            </section>
            <!--EOF:#sidebar-second-->
          </aside>
        {% endif %}

      </div>

    </div>
  </div>
  <!-- EOF:#main-content -->

</div>
<!-- EOF:#page -->

<footer id="subfooter" class="clearfix navbar fixed-bottom navbar-light bg-faded">

  {% if page.full_width_content %}
    <!-- #bottom-content -->
    <div id="full-width-content" class="clearfix">

      <div class="container">
        <div class="row">
          {{ page.full_width_content }}
        </div>
      </div>

    </div>
    <!-- EOF: #bottom-content -->
  {% endif %}

  {% if page.bottom_content %}
    <!-- #bottom-content -->
    <div id="bottom-content" class="clearfix">

      <div class="container-fluid">
        <div class="row">
          {{ page.bottom_content }}
        </div>
      </div>

    </div>
    <!-- EOF: #bottom-content -->
  {% endif %}

  <div class="container-fluid">

    <!-- #subfooter-inside -->
    <div id="subfooter-inside" class="clearfix">
      <div class="row">
        <div class="col-md-12">
          <!-- #subfooter-left -->
          <div class="subfooter-area">

            {% if page.footer %}
              {{ page.footer }}
            {% endif %}

          </div>
          <!-- EOF: #subfooter-left -->
        </div>
      </div>
    </div>
    <!-- EOF: #subfooter-inside -->

  </div>
</footer>
<!-- EOF:#subfooter -->
